# Configuration files
*.pro.user
*.pro.user.*
docs/site/.idea

# Translation binaries
translate/*.qm

# React
docs/site/node_modules
docs/site/coverage
docs/site/build
docs/site/.DS_Store
docs/site/.env.local
docs/site/.env.development.local
docs/site/.env.test.local
docs/site/.env.production.local
docs/site/npm-debug.log*
docs/site/yarn-debug.log*
docs/site/yarn-error.log*
docs/site/build

