Source: backy
Maintainer: Marek Felsoci <marek.felsoci@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10), qt5-default, qtdeclarative5-dev

Package: backy
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, libxcb-dri2-0, libxcb-dri3-0, libxcb-glx0, libxcb-present0, libxcb-sync1, libxcb1
Description: Simple backup creation and maintaining solution.
